p.explanation
{
    width: 40%;
}

div.spacemaker
{
    height:20px;
}


.state-sub_team
{
    color: Purple !important;
}

.borderless
{
    border-style: none;
    border-width: 0px;
    border-color: white;
}

.backgroundless
{
    background: none;
}
/*
th.formcolumn
{
    min-width:350px;
}
*/

div.arrowcolumn
{
    padding-top: 25px;
    vertical-align: top;
}

div.formcolumn, div.arrowcolumn
{
    display: inline-block;
    vertical-align: top;
}

input.topbutton
{
    display:block;
}


td.freakinghuge
{
    min-width: 600px;
}


div.checkboxgroup
{
    padding-top: 1em;
}

div.formcolumn.full
{
    height: inherit;
}

input.bottom
{
    vertical-align: bottom;
}

.membership
{
    margin: 1em 1em 1em 1em;
    height: 100px;
    width: 350px;
}
div.warning {
background-color:#FFDD00;
border:1px solid #DDAA00;
margin:0pt 0pt 1em;
padding:0.5em;
width:95%;
}

div.evergreen
{
    background-color:#22FF22;
    border:1px solid #44DD44;
    margin:0pt 0pt 1em;
    padding:0.5em;
    width:95%;
}


div.mainsection
{
	display:inline-block;
}
.availablemeasures
{
    padding: 1em;
	float:right;
	border-style: solid;
	border-width: 1px;
	border-color: #0000FF;
	/*padding: 1em;*/
	min-width: 300px;
	width: 300px;
}
.currentform
{
    padding: 1em;
	border-style: solid;
	border-width: 1px;
	min-width: 300px;
	width:300px;
}
div.measure
{
    margin-left:1em;
	width:250px;
	height:12pt;
}
div.cover
{
	padding: 0;
	margin: 0;
	border: 0;
	width: 250px;
	height: 12pt;
	float: left;
	clear: none;
	z-index: 90;
	position: absolute;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.existingmeasure
{
	border-style: solid;
	border-width: 0px;
	border-color: red;
	margin: 0.5em
}
.covered
{
	position: absolute;
	z-index: 50;
	width: 235px;
	
}
img.follower
{
	z-index:100;
	position: absolute;
	display: none;
}
img.uparrow
{
    text-align:   center;
    padding-left:  50px;
    padding-right: 50px;
    position:absolute;
    z-index: 50;
}
div.bottom
{
	width:225px;
	min-height:30px;
	height:30px;
}

.currentform div, .currentform 
{
    width: 400px;
}


table.form
{
    border-style:none;
}

table.form tr td
{
    margin-top: 5px;
    margin-bottom: 5px
}

div.hiddentextarea
{
    display: none;
}

span.hasnotes
{
    color: red;
}

div.uploadstatus
{
    background-color: lightgray;
}

table.formattable tr td,
td.dataentry
{
    vertical-align: top;
}

.biggertext
{
    font-size:150%;
}

.widgitgroup.design
{
    border: solid 1px black;
}
.widgitgroup
{
    display:inline-block;
    vertical-align:top;
    
}
div.widgit
{
    vertical-align:top;
}


