div.qimenus, ul.qimenus, table.qimenus, a:link.qimenus, a:visited.qimenus
{
text-align: left;
list-style-type: none;
text-decoration: none;
color: #C3E2DD;
background-color: #0E6775;
/* line-height: 17.6px; */
}


tr.bordered
{
border-top-width: 1px;
border-top-style: solid;
border-bottom-width: 1px;
border-bottom-style: solid;

}

tr.bordered td
{
font-weight bold;
}

td.managedwidth
{
width: 150px;
}

a.qimenus
{
margin: 2px 0 2px 0;
}

dt.actionMenuHeader a.qimenus
{
margin: 0;
}

a:link.qimenus, 
a:visited.qimenus
{
background-color: transparent;
}

li:hover.qimenus,
tr:hover.qimenus,
a:hover.qimenus
{
background-color: #011A23
}

dt.actionMenuHeader a:link.qimenus, 
dt.actionMenuHeader a:visited.qimenus,
dt.actionMenuHeader li:hover.qimenus,
dt.actionMenuHeader tr:hover.qimenus,
dt.actionMenuHeader a:hover.qimenus,
dl.actionMenu.qimenus,
dd.qimenus
{
background-color: #0E6775;
}

div.qimenus
{
float: left;
}



li.qimenus,
tr.qimenus
{
background-color: #0E6775;
/*border: 1px solid DarkSeaGreen;*/
color: #C3E2DD;
min-width: 7em;
float: left;
z-index:100;
margin-bottom: 0px
}

dd.border
{
border: 1px solid #011A23;
}

a.border
{
    margin-left: 5px;
}

ul.qitopmenu,
table.qitopmenu
{
margin-top: 0pt
}



span.qimenu
{
z-index:100;
float: left;
}

ul.qiMenuList,
table.qiMenuList
{
z-index:100;
background-color: #0E6775;

}


dl.qimenus, 
dt.qimenus, 
dd.qimenus li.qimenus,
dd.qimenus tr.qimenus
{
/* min-width: 15em; */
width: 200px;
}

dd.qiactionMenuContent
{
display:none;
height:auto;
margin:2pt 0 0 0;
padding:0pt;
position:absolute;
right:-1px;
top:1.2em;
z-index:100;
}

.actionMenu.deactivated .qiactionMenuContent {
display:none !important;
}


.actionMenu.activated .qiactionMenuContent {
display:block !important;
}

.actionMenu.activated .qiactionMenuContent {
border-collapse:collapse;
border-spacing:0pt;
display:table !important;
}

.actionMenu .qiactionMenuContent ul,
.actionMenu .qiactionMenuContent table {
background:#0E6775 none repeat scroll 0%;
border-color:#013F4C;
border-style:none solid solid;
border-width:1px;
display:block;
margin:-2px 0pt 0pt;
padding:0pt;
}

.qicontentActions {
background-color:#0E6775;
color:#578308;
height:1.6em;
padding:0pt 0pt 0pt 1em;
position:relative;
text-align:right;
text-transform:none;
z-index:100;
}

#portal-footer a:visited {
color:black;
}

#portal-footer a {
color:black;
}

table.mailArchive {
width: 100%;
}

th.mailArchiveSubject {
width: 100px;
}

th.mailArchiveFrom {
width: 50px;
}

table.mailArchive td 
{
padding: 3px;
vertical-align: top;
} 

#portal-header {
margin-bottom: 2px;
}


div.warning {
background-color:#FFDD00;
border:1px solid #DDAA00;
margin:0pt 0pt 1em;
padding:0.5em;
width:95%;
}

.clickable
{
    cursor: pointer;
}

div.available
{
border:1px dotted #888888;
}

div.joined
{
border:1px dashed #888888;
}

div.locked
{
border:1px solid #888888;
}

.state-private {
color: Red !important;
}

.state-sub_team
{
    color: Purple !important;
}

.state-project_private,
.state-restrict_to_managers {
color: DarkGoldenrod !important;
}

.state-restrict_to_team {
color: DarkGreen !important;
}

.state-visible {
color: Blue !important;
}


